<section class="content">
    <div class="block">
        <header>
            <h2 class="error_header">404</h2>
        </header>
        <p class="error_msg"> Страница, запрошеная по адресу <br><span class="error_msg_banner">{{url}}</span><br>не существует</p>
    </div>
</section>