<section class="person">
    <div class="person_photo__left">
        {{ #if photo }}
            <img href="{{photo}}" rel="users photo">
        {{ else }}
            <img href="img/default.png" rel="default photo">
        {{ /if}}
    </div>
    <div class="person_info">
        <header>
            <h3 class="person_info_name">{{fname}} {{lname}}</h3>
            <span class="person_info_city">{{city}}</span>
            <span class="person_info_role">{{role}}</span><span class="person_info_age">{{dateOfBirth}}</span>
        </header>
        <div class="person_info_about">{{about}}</div>
        {{ if socnetwork }}
            {{#each socnetwork}}
                <a href="{{link}}" title="{{name}}"></a> //?????????????????/
            {{/each}}
        {{ /if }}
    </div>
</section>